.about-row{
  padding-top: 7%;
}

p {
  text-indent: 50px;
}

div.collapsible-header {
  font-size: 32px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: bold;
}

div.collapsible-body {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

div.collapsible-body ol li {
  list-style: circle inside;
}

div.collapsible-body ul li {
  list-style: circle inside;
}

div.collapsible-header a {
  margin-left: 0.7em;
}

div.collapsible-header a img {
  height: 35px;
}
