<md-toolbar color="primary">
  <button md-button routerLink="/" href="/" fxHide fxShow.gt-md>
    <md-icon>home</md-icon>
    Home
  </button>
  <md-icon routerLink="/" href="/" fxShow fxHide.gt-md>home</md-icon>
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxHide fxShow.gt-sm>
    <button md-button routerLink="/projects" href="/projects">
      <md-icon>list</md-icon>
      Projects
    </button>
    <button md-button routerLink="/about" href="/about">
      <md-icon>star half</md-icon>
      About
    </button>
    <button md-button routerLink="/resume" href="/resume">
      <md-icon>assignment</md-icon>
      Resume
    </button>
    <button md-button onclick="window.open('https://www.github.com/fredzqm', '_blank');">
      <i class="fa fa-github" aria-hidden="true"></i>
      GitHub
    </button>
    <button md-button onclick="window.open('http://www.linkedin.com/in/fredzqm','_blank');">
      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      LinkedIn
    </button>
  </div>
  <md-icon md-button [md-menu-trigger-for]="menu1" fxShow fxHide.gt-sm>
    <i class="fa fa-bars" aria-hidden="true"></i>
  </md-icon>
</md-toolbar>
<md-menu x-position="before" #menu1="mdMenu">
  <button md-menu-item routerLink="/projects" href="/projects">
    <md-icon>list</md-icon>
      Projects
  </button>
  <button md-menu-item routerLink="/about" href="/about">
    <md-icon>star half</md-icon>
    About
  </button>
  <button md-menu-item routerLink="/resume" href="/resume">
    <md-icon>assignment</md-icon>
    Resume
  </button>
  <button md-menu-item class="useAwesomeFont" onclick="window.location='https://www.github.com/fredzqm';">
    <md-icon><i class="fa fa-github" aria-hidden="true"></i></md-icon>
    GitHub
  </button>
  <button md-menu-item class="useAwesomeFont" onclick="window.location='http://www.linkedin.com/in/fredzqm';">
    <md-icon><i class="fa fa-linkedin-square" aria-hidden="true"></i></md-icon>
    LinkedIn
  </button>
</md-menu>
