<md-toolbar color="primary" class="navbar-style">
  <button md-button routerLink="/" href="/">Home</button>
  <button md-button routerLink="/projects" href="/projects">Project</button>
  <button md-button routerLink="/about" href="/about">About</button>
  <button md-button routerLink="/resume" href="/resume">Resume</button>
  <button md-button onclick="window.location='https://www.github.com/fredzqm';">
    <img alt="GitHub" class="docs-github-logo" src="assets/github-circle-white-transparent.svg">
    GitHub
  </button>
  <button md-button onclick="window.location='http://www.linkedin.com/in/fredzqm';">
    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    LinkedIn
  </button>
</md-toolbar>
