<div class="card">
  <img class="card-img-top img-thumbnail img-fluid" [src]="project.image" alt="Generic placeholder image">
  <div class="card-block">
    <h4 class="card-title">{{project.name}}</h4>
    <p>{{project.info | truncate}}</p>
  </div>
  <a id="showOverview"
     md-mini-fab color="primary"
     [routerLink]="['/detail', project.id]"
     mdTooltip="Show Overview!"
     mdTooltipPosition="before">
    <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
  </a>
  <a id="showDetails"
     md-mini-fab color="warn"
     [routerLink]="['/detail', project.id]"
     mdTooltip="Show Details!"
     mdTooltipPosition="before">
    <i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i>
  </a>
  <a id="showRepos"
     md-mini-fab color="warn"
     [href]="project.repos"
     mdTooltip="Show Repository!"
     mdTooltipPosition="before">
    <img alt="GitHub" class="docs-github-logo" src="assets/github-circle-black.svg">
  </a>
</div>

