:host {
  margin-top: 20px;
  transition: all 0.5s ease-in-out;
}

:host:hover {
  transform: scale(1.05);
}

:host p {
  margin-right: 20px;
  margin-left: 20px;
}


#showRepos {
  position: absolute;
  right: 10px;
  bottom: 60px;
}

#showDetails {
  position: absolute;
  right: 10px;
  bottom: 10px;
}


