img {
  height: 80%;
  width: 100%;
}

#gitHubLink {
  position: absolute;
  right: 10px;
  top: 10px;
}

.card-title {
  color: #1E055F;
  font-family: 'Pangolin', cursive;
}

#IntroCard {
  margin: 35px 0px;
}

#README {
  padding: 30px;
}
