img {
  height: 80%;
  width: 100%;
}

#gitHubLabel {
  right: 10px;
  position: absolute;
  top: 10px;
}

.floatingLabel {
  position: absolute;
  top: 10px;
  background-color: #F7F0D7;
}

.card-title {
  color: #1E055F;
  font-family: 'Pangolin', cursive;
  font-size: 2.8em;
}

#IntroCard {
  margin: 35px 0px;
}
