.project-image {
  height: 80%;
  width: 100%;
}

#gitHubLabel {
  right: 10px;
  position: absolute;
  top: 10px;
  background-color: #4C0D67;
}

.floatingLabel {
  position: absolute;
  top: 10px;
  background-color: #F7F0D7;
}

#IntroCard {
  margin: 35px 0px;
}

.card-block .card-text {
  margin: 25px;
}
