<div class="container" *ngIf="project">
  <div class="card">
    <a id="gitHubLink" md-mini-fab color="warn" href="{{'https://github.com/fredzqm/' + project.repos}}">
      <img alt="GitHub" class="docs-github-logo" src="assets/github-circle-black.svg">
    </a>
    <div class="card-block">
      <h1 class="card-title text-center">{{project.name}}</h1>
      <div class="media row">
        <img class="img-fluid img-thumbnail rounded-circle col-4"
             *ngIf="project.image"
             alt="Generic placeholder image"
             [src]="project.image"
             [alt]="project.name">
        <div class="card-text media-body align-self-center col-8" height="100%">
          {{project.info}}
        </div>
      </div>
    </div>
  </div>
  <markdown-to-html src="{{'https://raw.githubusercontent.com/fredzqm/' + project.repos + '/master/README.md'}}"></markdown-to-html>
</div>

