:host {
  margin-top: 20px;
  transition: all 0.5s ease-in-out;
}

@media (min-width: 768px) {
  img.card-img-top {
    height: 21em;
  }
  div.card {
    height: 35em;
  }
}

@media (min-width: 992px) {
  img.card-img-top {
    height: 17em;
  }
}

:host:hover {
  transform: scale(1.05);
}

:host p {
  margin-right: 20px;
  margin-left: 20px;
}

.card-title {
  color: #1E055F;
  font-family: 'Pangolin', cursive;
}

#showRepos {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: #6D4A7C;
}

.card .card-title {
  font-size: 24px;
  font-weight: 300;
}

