<div class="card" [routerLink]="['/detail', project.id]">
  <img class="card-img-top img-thumbnail img-fluid" [src]="project.image" alt="Generic placeholder image">
  <div class="card-block">
    <h4 class="card-title">{{project.name}}</h4>
    <p>{{project.information | truncate}}</p>
  </div>
  <a id="showRepos"
     target="_new"
     md-mini-fab color="warn"
     (click)="showRepos($event)"
     mdTooltip="Show Repository!"
     mdTooltipPosition="before">
    <img alt="GitHub" class="docs-github-logo" src="assets/github-circle-black.svg">
  </a>
</div>

