<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!--<div class='container-fluid'>-->
  <!--<div class='row'>-->
    <!--<app-hello class="col-12"></app-hello>-->
  <!--</div>-->
<!--</div>-->
<!--<div class='container pt-5'>-->
  <!--<div class='row'>-->
    <!--<div class='col'>-->
      <!--<router-outlet></router-outlet>-->
    <!--</div>-->
    <!--<div class="col-1">-->
      <!--<nav id="sidebar" class="flex-column col-1 sticky-top">-->
        <!--<a class="nav-link" routerLink="/">Home</a>-->
        <!--<a class="nav-link" routerLink="/projects" routerLinkActive="active">Project</a>-->
        <!--<a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>-->
        <!--<a class="nav-link" routerLink="/resume" routerLinkActive="active">Resume</a>-->
        <!--<a class="nav-link" href="https://github.com/fredzqm">GitHub</a>-->
        <!--<a class="nav-link" href="#">Link</a>-->
        <!--<a class="nav-link disabled" href="#">Disabled</a>-->
      <!--</nav>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
