<div class='container-fluid'>
	<div class='row'>
		<app-hello class="col-12"></app-hello>
	</div>
</div>
<div class='container'>
	<div class='row'>
		<div class='col'>
			<router-outlet></router-outlet>
		</div>
		<nav class="nav flex-column col-2">
			<a class="nav-link" routerLink="/">Home</a>
			<a class="nav-link" routerLink="/projects">Project</a>
			<a class="nav-link" routerLink="/resume">Resume</a>
			<a class="nav-link" href="https://github.com/fredzqm">GitHub</a>
		  <a class="nav-link" href="#">Link</a>
		  <a class="nav-link disabled" href="#">Disabled</a>
		</nav>
	</div>
</div>