#terminal {
  max-width: 1000px;
  height: 400px;
  background: #2b303b;
  border-radius: 5px;
  margin: 0 auto;
}

:host /deep/ .terminal {
  padding: 20px 10px;
  height: 100%;
  font-family: Inconsolata, monospace;
  font-size: 14px;
  color: #dfe1e8;
  background: #2b303b;
  border-radius: 5px;
  overflow: hidden;
}

:host /deep/ .prompt {
  color: #d28445;
}

:host /deep/ span.prompt {
  float: left;
}

:host /deep/ textarea {
  float: left;
  border: none;
  padding: 0;
  margin: 0;
  height: 22px;
  background: #2b303b;
  color: #ebcb8b;
  resize: none;
  width: 95%;
  outline: none;
}

:host /deep/ p {
  margin-bottom: 0;
  line-height: 21px;
}
