div#main {
  max-width: 560px;
  background: #2b303b;
  border-radius: 5px;
  height: 400px;
}

:host /deep/ #terminal {
  padding: 20px 10px;
  height: 100%;
  font-family: Inconsolata, monospace;
  font-size: 14px;
  color: #dfe1e8;
  background: #2b303b;
  border-radius: 5px;
  overflow: hidden;
}

:host /deep/ .prompt {
  color: #d28445;
}

:host /deep/ input[type=text] {
  border: none;
  padding: 0;
  margin: 0;
  height: 22px;
  background: #2b303b;
  color: #ebcb8b;
  width: 80%;
}

:host /deep/ p {
  margin-bottom: 0;
  line-height: 21px;
}
