footer {
  border-top: 1px solid #eee;
  padding: 30px 0;
  text-align: center;
  color: #aaa;
  margin-top: 20px;
  font-size: 14px;
  line-height: 16px;
  user-select: none;
  color: #BAAE6C;
}

footer:hover {
  color: #9A840D;
}
