/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~font-awesome/css/font-awesome.min.css';
@import '~prismjs/themes/prism-okaidia.css';
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Overpass|Pangolin|Yanone+Kaffeesatz|Gloria+Hallelujah";

[md-mini-fab] img {
  height: 90%;
  width: 100%;
}

.card-title {
  color: #1E055F;
  font-family: 'Pangolin', cursive;
  font-size: 2.8em;
}

